/* overall website */

@font-face {
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet">
}

body {
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 1.5;
  font-size: 15px;
  margin: 0px 0 19px 0;
  color: #3E3F40;
}

/* top navigation */
header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 24px auto 24px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 32px;
  width: 200px;
}

}
.logo img {
  height: 50px;
  width: auto;
}

.header-menu {
  display: block;
  padding-left: 25px;
}

.logo .name-pt2 {
  color: grey;
}

ul {
  display:block;
}

.header-menu li {
  display: inline-flex;
  list-style: none;
  font-size: 15px;
  padding-right: 15px;
}

.header-menu li:hover{
  color: #0C7F1D;
  font-weight: bold;
}


/* first banner */
.banner {
  display: flex;
  align-items: center;
  background-color: #FFFAF2;
}

.banner .banner-left {
  width: 60%;
  margin: 32px 24px;
}

.banner-left img{
  width: 100%;
  height: auto;
}

.banner-content{
   width: 40%;
}

.content-right h1 {
  color: #3E3F40;
  font-weight: 900;
  color: #0C7F1D;
  font-size: 60px;
  padding-bottom: 20px;
}


.start-here-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFDB33;
  width: 250px;
  height: 30px;
}

.start-here-button .span {
  color: black;
}

/* 2nd banner, main content */

.main-content {
  display: flex;
  justify-content: center;
}

.main-content .content-left {
  width: 60%;
  margin: 32px 24px;
}

.main-content .content-right {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  width: 40%;
}

.content-left img {
  width: 100%;
  height: auto;
}

.main-content h2{
  font-size: 40px;
  margin-top: 32px;
  margin-bottom: 24px;
}

.Orientation-date, .our-campus, .our-guest, .Design-Prototype, .Now-and-then {
    display: flex;
    align-items: center;
}

.content-right img {
  width: 35%;
  height: auto;
  margin: 16px;
}

.info {
  line-height: 1.5;
}

.content-right .info {
    width: 65%;
}

.info h3 {
  font-weight: bold;
  font-size: 15px;
}


/* 2nd banner, main content */
